body {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: lightgray;
  padding: 1rem;
}

form {
  margin-bottom: 2rem;
}

#imagesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  width: 30%;
  margin: 1rem;
  border: 1px solid black;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.image img {
  width: 100%;
  height: auto;
}
